body, a{
    background-color: #505050;
    font-family: Helvetica, sans-serif;
    color:aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
}

a{
    text-decoration: none;
    background: none;
}

#grow:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5)
}

table{
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
        top:50px;
     padding: 1rem;
}

th, td{
    padding: 1rem;
}

caption{
    background-color: #3D3D3D ;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 800;
}

th{
    background-color: #444444 ;
    font-size: 1.5rem;
    font-weight: 700;
}

#front-link{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    text-align: center;
    color: aliceblue;
    font-size: 1.7rem;
}

#home-button{
    font-weight: 600;
    text-align: left;
    position: absolute;
        left: 4%;
        top: 10%;
    background-color: #444444;
    padding: 1rem;
}


